.tableList {
    margin:5%;
    width:85%;
    font-size:calc(1em + .3vw);
    background-color:lightgray;
    border-collapse: collapse;
    border-spacing:0 15px;
}

.alignRight {
    text-align:right;
    padding:5px;
}

.courseInfo {
    text-align:left;
    margin-left:5%;
    margin-top:2%;
}

.addBtn {
    margin-left:5%;
    text-align:right;
}

tr {
    border: 1px solid black;
}

td {
    padding:1.5%;
}

h1 {
    font-size:calc(1em + .8vw);
}
h2 {
    font-size:calc(1em + .4vw);
}

.createProj {
    font-size:calc(1em + .2vw);
}

.backBtn {
    margin-left:5%;
}